.button {
  display: inline-block;
  padding: 0 2.1rem;
  height: 4rem;
  border-radius: 200px;
  border: 2px solid @color-blue;
  color: @color-blue;
  text-decoration: none;
  line-height: 3.8rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
}
