@color-first: #000;

@color-text: #4C6372;

@color-blue: #2EA5F3;

@color-team: #436EF1;

@color-directory: #F5843C;

@color-email: #32BEC9;

@color-hiring: #44C624;

@color-search: #2EA5F3;

@color-support: #CE64D5;

@color-protection: #FF5757;

@color-website: #98C81F;

@font-first: 'Roboto', 'Arial', sans-serif;


@screen-xs:                   479px;
@screen-sm:                   769px;
@screen-md:                   1023px;
@screen-lg:                   1179px;