mixin item(service, title, status, dscr, button, additionalClass)
  .item(class="item--"+service, class=additionalClass)
    .item__icon
    .item__content
      h3.item__title #{title}
      .item__status #{status}
      p.item__dscr #{dscr}
    .item__controls
      a.button.item__button(href="#") #{button}
      a.item__more(href="#") Learn more