.item {
  width: 36rem;
  height: 40.4rem;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin-left: 5rem;
  padding: 9.5rem 1.5rem 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  }
    
  @media screen and (max-width: @screen-sm) {
    margin-left: 0;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.5rem;
    border-radius: .4rem .4rem 0 0;
    opacity: .1;
  }
  
  &:nth-child(3n+1) {
    margin-left: 0;
    
    @media screen and (max-width: @screen-lg) {
      margin-left: 5rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      margin-left: 0;
    }
  }
  
  &:nth-child(2n+1) {
    
    @media screen and (max-width: @screen-lg) {
      margin-left: 0;
    }
  }
  
  &:nth-child(n+4) {
    margin-top: 5.2rem;
    
    @media screen and (max-width: @screen-lg) {
      
    }
  }
  
  &:nth-child(n+3) {
    
    @media screen and (max-width: @screen-lg) {
      margin-top: 5.2rem;
    }
  }
  
  &:nth-child(n+2) {
    
    @media screen and (max-width: @screen-sm) {
      margin-top: 5.2rem;
    }
  }
  
  &__icon {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: .6rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.5rem;
  }
  
  &__title {
    font-size: 2.8rem;
    color: @color-text;
    text-align: center;
  }
  
  &__status {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: @color-text;
    margin-top: 1rem;
    margin-bottom: .5rem;
    opacity: .4;
    letter-spacing: .15rem;
  }
  
  &__dscr {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: @color-text;
    padding: 0 1.2rem;
  }
  
  &__button {
    margin-bottom: 2.3rem;
  }
  
  &__more {
    height: 4.4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d8d8d8;
    color: @color-text;
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
  }
  
  &--team {
    
    &:before {
      background: @color-team;
    }
    
    .item__icon {
      background: @color-team url(../img/icon-team.svg) no-repeat center;
    }
  }
  
  &--directory {
    
    &:before {
      background: @color-directory;
    }
    
    .item__icon {
      background: @color-directory url(../img/icon-directory.svg) no-repeat center;
    }
  }
  
  &--email {
    
    &:before {
      background: @color-email;
    }
    
    .item__icon {
      background: @color-email url(../img/icon-email.svg) no-repeat center;
    }
  }
  
  &--hiring {
    
    &:before {
      background: @color-hiring;
    }
    
    .item__icon {
      background: @color-hiring url(../img/icon-hiring.svg) no-repeat center;
    }
  }
  
  &--search {
    
    &:before {
      background: @color-search;
    }
    
    .item__icon {
      background: @color-search url(../img/icon-search.svg) no-repeat center;;
    }
  }
  
  &--support {
    
    &:before {
      background: @color-support;
    }
    
    .item__icon {
      background: @color-support url(../img/icon-support.svg) no-repeat center;;
    }
  }
  
  &--protection {
    
    &:before {
      background: @color-protection;
    }
    
    .item__icon {
      background: @color-protection url(../img/icon-protection.svg) no-repeat center;;
    }
  }
  
  &--website {
    
    &:before {
      background: @color-website;
    }
    
    .item__icon {
      background: @color-website url(../img/icon-website.svg) no-repeat center;;
    }
  }
  
  &--active {
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -.1rem;
      top: -.1rem;
      width: 5.3rem;
      height: 5.3rem;
      background: url(../img/icon-active.svg) no-repeat;
      background-size: cover;
    }
  }
}