doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    form.form(action="#", method="post")
      h2.form__header Create a free account!
      p.form__message Stop hunting for services and get back to business. Upgrade anytime for access to even more, all in one place.
      .form__item
        input.input.form__input(type="email", name="email")
        span.form__input-placeholder Email
        .form__item-line
      .form__item
        input.input.form__input(type="text", name="password")
        span.form__input-placeholder Password
        .form__item-line
      input.button.form__button(type="submit", value="Create Account") 
    .wrapper
      .grid
        .grid__container
          +item('team', 'Team Collaboration', 'active', 'Start collaborating with your team today and begin experiencing faster project cycles, fewer meetings and emails, and most importantly… a happier staff.', 'View Your Network', 'item--active')
          +item('directory', 'Directory', 'active', 'Company.directory places your company information in a searchable listing within company.com for improved SEO and page ranking, and valuable visibility among users.', 'Edit Listing Details', 'item--active')
          +item('email', 'Email', '—', 'Company.office is a complete business email package that is completely free for up to four users.', 'Activate Now')
          +item('hiring', 'Hiring', 'Premium Service', 'This powerful, cloud-based software makes it easier than ever to find the best candidates for your job openings.', 'Premium Activation')
          +item('search', 'Search Optimization', 'Premium Service', 'Activate Company.found to publish your directory listing across the web and be seen by more customers.', 'Premium Activation')
          +item('support', 'Teck Support', 'Premium Service', 'Keep your company productivity high and your downtime low by taking advantage of your access to qualified IT professionals.', 'Premium Activation')
          +item('protection', 'Equipment Protection Plan', 'Premium Service', 'Safeguard against failures of your most frequently used and valued office equipment by extending your manufacturers’ warranties.', 'Premium Activation')
          +item('website', 'Free Website Package', '—', 'Open the virtual doors to your business now with our simple, easy-to-use website builder.', 'Activate Now')
    include ../templates/scripts.pug