.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    
    @media screen and (max-width: @screen-lg) {
      max-width: 77rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
}
