.form {
  max-width: 70.8rem;
  margin: 8rem auto 15rem;
  background: rgba(219, 230, 237, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 13.5rem;
  
  @media screen and (max-width: 708px) {
    padding: 5rem 2rem;
  }
  
  &__header {
    font-size: 3rem;
    color: @color-text;
    position: relative;
    text-align: center;
    
    &:after {
      content: '';
      display: block;
      width: 2.7rem;
      height: 0.6rem;
      background: url(../img/line.svg) no-repeat;
      background-size: cover;
      position: absolute;
      left: 50%;
      bottom: -1rem;
      transform: translateX(-50%);
    }
  }
  
  &__message {
    margin-top: 2.7rem;
    font-size: 1.6rem;
    color: @color-text;
    text-align: center;
    margin-bottom: 3.5rem;
    line-height: 1.2;
    width: 100%;
  }
  
  &__item {
    position: relative;
    max-width: 33.3rem;
    width: 100%;
    
    &+& {
      margin-top: 4.3rem;
    }
  }
  
  &__item-line {
    width: 100%;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #d8d8d8;
    }
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      width: 0;
      height: 1px;
      background: @color-blue;
      transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    }
  }
  
  &__input-placeholder {
    color: @color-text;
    opacity: .5;
    font-size: 2rem;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 1.2rem;
    transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  }
  
  &__input {
    width: 100%;
    max-width: 33.3rem;
    height: 4.4rem;
    background: transparent;
    
    &:focus, &--active {
      
      &+.form__input-placeholder {
        font-size: 1.4rem;
        color: @color-blue;
        opacity: 1;
        bottom: 4rem;
      }
    
      &~.form__item-line {
        
        &:after {
          width: 100%;
        }
      }
    }
  }
  
  &__button {
    width: 18.8rem;
    height: 5.2rem;
    margin-top: 3.5rem;
  }
}